/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0
}

/* shared item  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.text-light-gray {
    color: #727272;
}


.btn-praimary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #131313;
}

/* banner style */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1100px;
    margin: 70px auto;
}

/* teams style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .Quick-list {
    color: #727272;
    font-weight: 500;

}

.teams-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}

/* feature style  */
.Features {
    margin-top: 130px;
    display: flex;
    gap: 100px;

}

.Features .section-title {
    border-left: 5px solid tomato;
    padding-left: 20px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
 .feature-img img{
    height: 80%;
    
} 

.ten-year-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    width: 300px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-year-badge p{
    font-size: 1.5rem;
}








/* facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.facts-card-container .card-stats {
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* sponsors style */
.Sponsors {
    text-align: center;
}

.Sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

}

/* .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }   */

.Sponsors-img-container img {
    width: 165px;
}












/* responsive work  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    main{
        margin: 70px 5px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .Sponsors-img-container,
    .Features {
        flex-direction: column;
    }
    .feature-img img{
        width: 80%;
        margin-left:0;
    } 
     .ten-year-badge{
       position: static;
       max-width: 200px;
       
        
    } 
    

    .teams-image-container {
        grid-template-columns: 1fr;
    }


}

/* medium device  */
/* 
@media screen and(min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .Sponsors-img-container {
        flex-direction: column;
    }


} */